
section h1#page-title {
  color: #999;
  text-align: center;
  font-size: 3em;
  border-bottom: 2px solid #055a8e;
  padding-bottom: 0.25em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

section {
  font-size: 1.4em;
  color: #292929;
}

#content section h2 {
  margin: 0.25em 0;
  color: #055a8e;
  border-bottom: 1px solid #055a8e;

}

section strong {
  color: #055a8e;
}

section p {
  margin: 0 0 0.25em;
}

.region-content section ul {
  margin: 0.25em 1em;
}
