
h1.title {
  color: #666;
  border-bottom: 1px solid #ccc;
}

section {
  font-size: 1.4em;
  color: #292929;
}

#content section h2 {
  margin: 0.25em 0;
  color: #055a8e;
}

section strong {
  color: #055a8e;
}

section p {
  margin: 0 0 0.25em;
}

.region-content section ul {
  margin: 0.25em 1em;
}
